spring:
  profiles:
    active: dev # dev, prod
  
  # Flyway 数据库迁移配置
  flyway:
    enabled: true  # 启用 Flyway
    baseline-on-migrate: true  # 对已有数据库创建基线
    baseline-version: 0  # 基线版本号
    locations: classpath:db/migration  # 迁移脚本位置
    encoding: UTF-8  # 脚本编码
    validate-on-migrate: true  # 迁移前验证
    out-of-order: false  # 不允许乱序执行
    table: flyway_schema_history  # Flyway 元数据表名


minio:
  url-expiry-minutes: 15 # 新增：预签名URL过期时间（分钟）
  chunk-cleanup-hours: 24 # 新增：孤儿分片清理阈值（小时）
  cleanup-cron: "0 0 * * * ?"
  bucket:
    private-files: "private-files"
    public-assets: "public-assets"

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl  # 或 slf4j
  mapper-locations: classpath:mapper/*.xml  # 若使用 XML Mapper

# CORS跨域配置
cors:
  allowed-origins: "*"

server:
  port: 902

logging:
  level:
    root: info
